# Java
*.class
*.log
*.log.[0-9]*
*.lck

# Gradle
.gradle/
build/

# Maven
target/
dependency-reduced-pom.xml

# IntelliJ
.idea/
*.iml

# OS
.DS_Store

# H2 database files
**/data/*.mv.db
**/data/*.trace.db

.fake
.claude
.vscode

javi/*/

/wal/*
/backup/*